{% extends 'base.html' %}
{% load static %}

{% block title %}
    Страница
{% endblock %}


{% block content %}

{% for account in accounts %}


<div>
    <div class=" mb-5">
        <a class=" "  href="{% url 'account_detail' account.username %}">
            {% if account.avatar %}
                <img class="border border-2 rounded-circle" src="{{ account.avatar.url }}" alt="image" height="50" width="50">
            {% else %}
                <img class="border border-2 rounded-circle" src="{% static 'img/placeholder.png' %}" alt="image" height="50" width="50">
            {%endif%} 
            <h6 class="d-contents">@{{ account.username }}</h6>
        </a>
    <div>
<div>
    <hr>
{% endfor %}

{% endblock %}
