{% extends 'base.html' %}
{% load static %}

{% block title %}
    Подписки
{% endblock %}


{% block content %}
<p>Список подписок пользователя 
    <a class=" "  href="{% url 'account_detail' account.username %}">
    <b>{{ account.username }}</b>
</p>
</a>
{% for subscription in account.subscriptions.all %}


<div>
    <div class=" mb-5">
        <a class=" "  href="{% url 'account_detail' subscription.username %}">
            {% if subscription.avatar %}
                <img class=" rounded-circle" src="{{ subscription.avatar.url }}" alt="image" height="50" width="50">
            {% else %}
                <img class=" rounded-circle" src="{% static 'img/placeholder.png' %}" alt="image" height="50" width="50">
            {%endif%} 
            <h6 class="d-contents">@{{ subscription.username }}</h6>
        </a>
    <div>
<div>
    <hr>
{% endfor %}

{% endblock %}
