{% extends 'base.html' %}
{% load static %}

{% block title %}
    Просмотр страницы пользователя
{% endblock %}


{% block content %}
<div class="d-flex col-sm-3">
    
    <div class="me-5">
        {% if account.avatar %}
            <img class="rounded-circle" src="{{ account.avatar.url }}" alt="image" height="250" width="250">
        {% else %}
            <img class="rounded-circle" src="{% static 'img/placeholder.png' %}" alt="image" height="400" >
        {%endif%} 
    </div>
    <h3>{{ account.username }}</h3>
    <div class="d-block">
        <div class="d-flex mb-3">
            {% comment %} <a class=" btn btn-secondary btn-sm ms-5" href="#">Редактировать профиль</a> {% endcomment %}
            {% if user.is_authenticated %}
                {% if account in user.subscriptions.all %}
                    <a class="height_button btn btn-secondary btn-sm ms-5" href="{% url 'unsubscribe' account.username %}">Отписаться</a>
                {% else %}
                    <a class="height_button btn btn-secondary btn-sm ms-5" href="{% url 'subscribe' account.username %}">Подписаться</a>
                {% endif %}
            {% endif %}
            
        </div>


        <div class="d-flex">
            <div class="mb-4">
                <ul class="">
                    <al class="">
                        <div class="">
                            <span class="">{{ account.posts.all.count }}</span> публикаций</div>
                        </div>
                    </al>
                    <al class="">
                        <a class="" href="{% url 'subscribers' account.username%}">
                            <div class="px-3">
                                <span class="">{{ account.subscribers.all.count}}</span> 
                                подписчиков
                            </div>
                        </a>
                    </al>
                    <al class="">
                        <a class="" href="#">
                            <div class="">
                                <span class="">{{ account.subscriptions.all.count}}</span> 
                                подписок
                            </div>
                        </a>
                    </al>
                </ul>
            </div>
            {{ account.description.all }}

            <div class="d-flex">
                <h5 class="me-3">{{ user.first_name }}</h5>
               
                <h5>{{ user.last_name }}</h5> 
            </div>
        </div>
    </div>
<hr>

<h3> Публикации</h3>
    <div class=" card_items fade-out-siblings">
        {% for post in account.posts.all %}
            <div class="card_item">
                {% if post.image %}
                    
                    <a class="nav-link active" aria-current="page" href="{% url 'post_detail' post.pk %}"><img class="post_img_detail" src="{{ post.image.url }}" alt="image" height="250" width="250"></a>

                {% else %}

                <a class="nav-link active" aria-current="page" href="#"><img class="post_img_detail" src="{% static 'img/placeholder.png' %}" alt="image" height="250" width="250"></a>
                {%endif%}       
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}